<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interpreter</title>
    <link href="{{ url_for('static', path='/styles/interpreter_style.css') }}" rel="stylesheet">
</head>
<body>

<h1>Interpreter</h1>

<div id="inputContainer">
    <label for="jsonInput"></label>
    <textarea id="jsonInput" rows="10" cols="100"
                                             placeholder="Ingresa el JSON aquí de combate aqui..."></textarea>
    <div class="button-container">
        <button onclick="validateJSON()">Validar Formato</button>
        <button onclick="sendToAPI()">Narrar Pelea</button>
    </div>
    <h3>Narrador</h3>
    <label for="responseArea"></label><textarea id="responseArea" rows="20" cols="90" readonly resize='none'
                                                ;></textarea>
    <span id="errorArea" readonly></span>
</div>

<script src="{{ url_for('static', path='/js/interpreter_js.js') }}"></script>

</body>
</html>
