body {
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
    text-align: center
}

h1 {
    color: #333;
}

#jsonInput {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    resize: vertical;
}

#responseArea {
    resize: none;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

button {
  margin: 5px; /* Espacio entre los botones si es necesario */
}